@page "/"
@using Fluxor
@using Microsoft.AspNetCore.Identity
@using PterodactylPavlovServerController.Areas.Identity.Data
@using PterodactylPavlovServerController.Contexts;
@using PterodactylPavlovServerController.Models;
@using PterodactylPavlovServerController.Services;
@using PterodactylPavlovServerController.Stores
@using PterodactylPavlovServerController.Pages.Player
@using PterodactylPavlovServerDomain.Models;
@using System.Web;
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject SignInManager<PterodactylPavlovServerControllerUser> SignInManager
@inject UserManager<PterodactylPavlovServerControllerUser> UserManager
@inject IHttpContextAccessor httpContextAccessor
@inject IDispatcher Dispatcher


@{
    Dispatcher.Dispatch(new PageTitleSetAction("Home"));
}

@if (httpContextAccessor.HttpContext != null)
{
    <h1>Hello, @UserManager.GetUserName(httpContextAccessor.HttpContext.User)!</h1>
}
else
{
    <h1>Hello!</h1>
}

Welcome to PPSC - the Pterodactyl Pavlov Server Control.
<br />
<br />
<h3>Changelog</h3>

<h4>1.0.9.3</h4>
<ul>
    <li>Adds chicken kill stats</li>
    <li>Fixes teamkill count stats</li>
    <li>Experience stats from Pavlov</li>
    <li>Fixes default maps in stats</li>
    <li>Fixes server pause using wrong player count</li>
    <li>Fixes warmup round sometimes not triggering</li>
    <li>Fixes rotate map rotation using wrong player count</li>
    <li>Fixes rotate map rotation possibly rotating too early</li>

</ul>
<h4>1.0.9.2</h4>
<ul>
    <li>Adds export maps button in map rotation editor</li>
</ul>
<h4>1.0.9.1</h4>
<ul>
    <li>Map rotation now identifies the rotation correctly even if it was shifted</li>
    <li>Backend improvements</li>
</ul>
<h4>1.0.9</h4>
<ul>
    <li>Adds SetCash to warmup round to remove all cash from players during warmup</li>
    <li>Reduce warmup give item delay</li>
    <li>Changes pause server service to use PauseMatch instead of ResetSND</li>
    <li>Adds rotate maps rotation service</li>
    <li>Backend improvements</li>
</ul>
<h4>1.0.8</h4>
<ul>
    <li>Implements new InspectAll rcon command to inspect players, intead of inspecting them one-by-one</li>
    <li>Adds player ping to card</li>
    <li>Adds ping limiter service</li>
    <li>Backend improvements</li>
</ul>
<h4>1.0.7</h4>
<ul>
    <li>Switched Steam workshop integration with Mod.io integration</li>
</ul>
<h4>1.0.6</h4>
<ul>
    <li>Adds setting skin to first player reaching a certain kill count</li>
    <li>Fixes crash when reserved slots are changing while server is busy</li>
    <li>Potentially fixes duplicate SND bomb after warmup round</li>
</ul>
<h4>1.0.5</h4>
<ul>
    <li>Adds pause server mode for SND</li>
    <li>Changes warmup round item mode to global loadouts</li>
    <li>Potentially fixes duplicate SND bomb after warmup round</li>
</ul>
<h4>1.0.4</h4>
<ul>
    <li>Adds league mode</li>
    <li>Backend improvements</li>
</ul>
<h4>1.0.3.1</h4>
<ul>
    <li>Fixes pins not to be forced to four digits</li>
</ul>
<h4>1.0.3</h4>
<ul>
    <li>Adds SND warmup round functionality</li>
</ul>
<h4>1.0.2.1</h4>
<ul>
    <li>Bugfixes</li>
</ul>
<h4>1.0.2</h4>
<ul>
    <li>Adds reserved slots functionality</li>
    <li>Adds &quot;Give to everybody&quot; option for player cheats</li>
    <li>Fixes disassociation of player list entries and dialogs</li>
    <li>Backend improvements</li>
</ul>
<h4>1.0.1</h4>
<ul>
    <li>Backend improvements</li>
</ul>
<h4>1.0.0.1</h4>
<ul>
    <li>Adds missing changelog entries</li>
</ul>
<h4>1.0.0</h4>
<ul>
    <li>Adds support for Pavlov VR beta egg</li>
    <li>Adds EFP cash to persistent player</li>
    <li>Adds player name on server and indication if it differs from steam profile name</li>
    <li>Backend improvements</li>
</ul>
<h4>A4.04</h4>
<ul>
    <li>Adds additional ban reasons</li>
    <li>Adds time limited banning and automatic unbanning</li>
</ul>

<h4>A4.03</h4>
<ul>
    <li>Upgrade to .net 7</li>
    <li>Adds measuring of total money earned by player</li>
</ul>

<h4>A4.02</h4>
<ul>
    <li>Adds map rotation editor to supercede Google Sheets</li>
</ul>

<h4>A4.01</h4>
<ul>
    <li>Adds changelog</li>
    <li>Moves audit trail</li>
    <li>Stats
        <ul>
            <li>Adds more EFP guns</li>
        </ul>
    </li>
</ul>

<h4>A4.00</h4>
<ul>
    <li>Adds auditing service</li>
    <li>Adds ban reason and templates</li>
    <li>Adds player comments</li>
</ul>

<h4>A3.10</h4>
<ul>
    <li>Workaround for Pavlov sending empty player</li>
    <li>Adds measuring of player time spent on server</li>
    <li>Adds confirmation dialogs to player actions (switch, kick, ban)</li>
    <li>Stats
        <ul>
            <li>Adds total player time to player card</li>
            <li>Adds last seen to player card</li>
            <li>Set steam avatars to lazy loading to improve loading times of large stat pages</li>
            <li>Improves layout, fixing anchor navigation</li>
        </ul>
    </li>
    <li>Backend improvements</li>
</ul>

<h4>A3.09</h4>
<ul>
    <li>Stats
        <ul>
            <li>Fixes missing brace in best gun in map stats</li>
        </ul>
    </li>
</ul>

<h4>A3.08</h4>
<ul>
    <li>Stats
        <ul>
            <li>Fixes EFP stats not showing players with zero kills, deaths, assists</li>
        </ul>
    </li>
</ul>

<h4>A3.07</h4>
<ul>
    <li>Improve Steam profile and bans load times</li>
    <li>Design improvements</li>
    <li>Improve RCON page load times</li>
    <li>Change country flags API to something more robust</li>
    <li>Adds open workshop page link to map list</li>
    <li>Adds player count to team titles</li>
    <li></li>
    <li></li>
    <li>Stats
        <ul>
            <li>Add player rank</li>
            <li>Adds hover tooltip to country images</li>
            <li>Adds more missing guns</li>
        </ul>
    </li>
</ul>

<h4>A3.06</h4>
<ul>
    <li>Hides last seen when not available</li>
    <li>Adds country flag to player card, if available</li>
    <li>Improves error toast</li>
    <li>Use steam player names in cheat dropdowns, if available</li>
    <li>Fixes Steam API Too Many Requests error</li>
    <li>Improve load times</li>
    <li>Stats
        <ul>
            <li>Adds country flag to player card, if available</li>
            <li>Adds some missing EFP guns</li>
            <li>Adds cash for EFP</li>
            <li>Fixes gun stats best player percentage</li>
            <li>Implements blazor based stats</li>
            <li>Fixes missing server name in title</li>
        </ul>
    </li>
    <li>Backend improvements</li>
</ul>

<h4>A3.05</h4>
<ul>
    <li>Fixes player name not using Steam name in player card</li>
    <li>Disables switch team button when no teams on server</li>
    <li>Fixes banned players not being displayed when banned before being on server</li>
    <li>Fixes custom RCON command parameter handling</li>
    <li>Stats
        <ul>
            <li>Adds some EFP weapons</li>
            <li>Fixes inconsistent gun names</li>
            <li>Adds stats for non-SND/EFP</li>
            <li>Backend improvements when downloading stats</li>
        </ul>
    </li>
</ul>

<h4>A3.04</h4>
<ul>
    <li>Adds custom RCON command execution</li>
    <li>Backend improvements</li>
</ul>

<h4>A3.03</h4>
<ul>
    <li>Adds last seen to offline player card</li>
    <li>Better handling of failed RCON commands</li>
    <li>Adds player count to left menu</li>
    <li>Fixes crashes</li>
    <li>Backend improvements</li>
</ul>

<h4>A3.02</h4>
<ul>
    <li>Improved error handling during map change</li>
    <li>Added stats link in server card</li>
    <li>Fixes F5 crash</li>
    <li>Adds player cheats, server and TTT commands</li>
    <li>Backend improvements</li>
    <li>Stats
        <ul>
           <li>Fixes</li>
           <li>Adds played rounds to player card</li>
        </ul>
    </li>
</ul>

<h4>A3.01</h4>
<ul>
    <li>Blazor based RCON client to supercede windows client</li>
</ul>