@page "/"
@using Fluxor
@using PterodactylPavlovServerController.Stores
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@inject IDispatcher Dispatcher

@{
    Dispatcher.Dispatch(new PageTitleSetAction("Home"));
}

<h1>Hello, world!</h1>

Welcome to your new app.