@using Fluxor
@using Fluxor.Blazor.Web.Components
@using PterodactylPavlovServerController.Store

@inherits FluxorLayout

@inject IState<PageTitleState> PageTitleState

<PageTitle>@PageTitleState.Value.Title - PPSC</PageTitle>

<div class="page">
    <div class="sidebar col-12">
        <NavMenu />
    </div>

    <main class="bg-dark">
        <div class="top-row navbar-dark px-4">
            <h3 class="navbar-brand">@PageTitleState.Value.Title</h3>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<BlazoredToasts />