@using PavlovVR_Rcon.Models.Pavlov;
@using PterodactylPavlovServerController.Contexts;
@using PterodactylPavlovServerController.Models;
@using PterodactylPavlovServerController.Pages.Player
@using PterodactylPavlovServerController.Services;
@inject PavlovServerContext PavlovServerContext

@if (Connection.BanList == null)
{
    return;
}

<div class="tab-pane container active px-0" id="offline">
    @foreach (ulong uniqueId in Connection.BanList)
    {
        <PlayerCard @key="uniqueId" PlayerId="@uniqueId" ServerId="@Connection.ServerId" />
    }
</div>

@code {
    [Parameter]
    [EditorRequired]
    public PavlovRconConnection Connection { get; set; }

    [Parameter]
    [EditorRequired]
    public ServerInfo ServerInfo { get; set; }
}
