@using Fluxor;
@using PavlovVR_Rcon.Models.Pavlov;
@using PterodactylPavlovServerController.Models;
@using PterodactylPavlovServerController.Pages.Rcon.SubComponents
@using PterodactylPavlovServerController.Services;
@using PterodactylPavlovServerController.Stores;
@using Steam.Models.SteamCommunity;
@inject IDispatcher Dispatcher
@inject IState<PlayersState> PlayersState
@inject PavlovRconService RconService
@inject IToastService Toast
@inject ApiKeyService ApiKey
@inject AuditService AuditService

<div class="tab-pane container active px-0" id="cheats">

    <GivePlayerCashComponent Connection="Connection" ServerInfo="ServerInfo" />
    <GivePlayerItemComponent Connection="Connection" ServerInfo="ServerInfo" />

    @if (ServerInfo.Teams)
    {
        <GiveTeamCashComponent Connection="Connection" ServerInfo="ServerInfo" />
    }

    <GivePlayerVehicleComponent Connection="Connection" ServerInfo="ServerInfo" />

    <SetPlayerSkinComponent Connection="Connection" ServerInfo="ServerInfo" />

    <SlapPlayerComponent Connection="Connection" ServerInfo="ServerInfo" />

    <ClearEmptyVehiclesComponent Connection="Connection" ServerInfo="ServerInfo" />
</div>

@code {
    [Parameter]
    [EditorRequired]
    public PavlovRconConnection Connection { get; set; }

    [Parameter]
    [EditorRequired]
    public ServerInfo ServerInfo { get; set; }


}
