@using Fluxor
@using Fluxor.Blazor.Web.Components
@using PterodactylPavlovServerController.Models
@using PterodactylPavlovServerController.Services
@using PterodactylPavlovServerController.Store.PavlovServers
@using PterodactylPavlovServerController.Store.Servers
@using PterodactylPavlovServerDomain.Models

@inherits FluxorComponent
@inject IDispatcher Dispatcher
@inject PavlovRconConnectionService Rcon
@*@inject IState<PterodactylServersState> PterodactylServersState*@
@inject IState<PavlovServersState> PavlovServersState

@if (!Rcon.Initialised)
{
    <div>Loading...</div>
    return;
}

@if (Rcon.GetServer(ServerId) is not PavlovRconConnection connection)
{
    <div>Server does not exist</div>
    return;
}

@{
    PterodactylServerModel server = connection.PterodactylServer;
    ServerInfoModel? serverInfo = connection.ServerInfo;
}

<div>
    <a href="/rcon/@server.ServerId">@server.Name (@(serverInfo == null ? (PavlovServersState.Value.ServerNamesFromGameIni.ContainsKey(server.ServerId) ? PavlovServersState.Value.ServerNamesFromGameIni[server.ServerId] : "...") : serverInfo.ServerName))</a>
</div>

<div>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public string ServerId { get; set; }

    protected override void OnInitialized()
    {
        Rcon.OnServersUpdated += refresh;

        base.OnInitialized();
    }

    private async void refresh()
    {
        await InvokeAsync(StateHasChanged);
    }

    protected override void Dispose(bool disposing)
    {
        Rcon.OnServersUpdated -= refresh;

        base.Dispose(disposing);
    }

    protected override void OnParametersSet()
    {
        Dispatcher.Dispatch(new PavlovServerLoadNameFromGameIniAction(ServerId));
        base.OnParametersSet();
    }

}
